/* Namari Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/


body {
    background:#fff;
}


/* Default Link Color */

a, .la-ball-triangle-path {
    color:#d2b356;
}

a:hover, #header.nav-solid nav a:hover {
    color:#df575a;
}

/* Default Icon Color */

.icon i {
    color: #ffffff;
}
.icon i.doubling {
    color: #FD6584;
    position:absolute;
    left:-2px;
    top:-1px;
}

/* Border Color */

#banner .section-heading:before, .testimonial.classic footer:before {
    background: #FD6584;
}

.pricing-block-content:hover {
    border-color: #df575a;
}
.featured .pricing-block-content:hover {
    border-color: #4255af;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


/* Transparent Navigation Color on a Banner */

#header nav a, #header i {
    color:#111;
}


/* Navigation Colors when the Navigation is sticky and solid */ 

#header.nav-solid, #header.nav-solid a, #header.nav-solid i, #nav-mobile ul li a {
    color:#333;
}


/* Navigation Active State */

#header.nav-solid .active {
    color: #df575a;
    border-color: #df575a;
}    



/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Primary Background and Text Colors */

.primary-color, .featured .pricing {
    background-color:#8f9ad3;
}

.primary-color, .primary-color .section-title, .primary-color .section-subtitle, .featured .pricing, .featured .pricing p {
    color:#fff;    
}

.section-heading h2:after {
    background:#FD6584;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#f5f5f5;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */

#banner {
    background: #fcfcfc url("../images/banner-images/main-visual2.svg") no-repeat center top;
    background-size:cover;
}
.banner-for-mobile{display: none;}
@media all and (min-width:1920px) {
    #banner{
        background-size: contain;
    }

}
@media (min-width:1024px) and (max-width:1919px) {
    #banner {
        background-position: right top;
    }

}

@media screen and (max-width: 1023px){
    #banner {
        background-position: right top;
    }
    #banner h1{
        font-size:48px;
        background:rgb(255,255,255,0.8);
    }
    #banner h2{
        background:rgb(255,255,255,0.8);
    }
}


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size:15px;
    font-weight:normal;
    color:#111;
}

/* Logo, if you are using Fonts as Logo and not image

#logo h1 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

#logo h2 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

*/


/* Banner Typography */

#banner h1 {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size:62px;
    line-height:72px;
    font-weight:800;
    color:#111;
    word-break: keep-all;
    overflow-wrap: break-word;
    white-space: normal;
}

#banner h2 {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size:18px;
    font-weight:300;
    color:#111;
}


/* Section Title and Subtitle */

.section-title {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size: 34px; 
    font-weight:700;
    color:#111;
}

.section-subtitle {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size: 16px;
    font-weight: 400;
    color: #5e6174;
    word-break: keep-all;
    overflow-wrap: break-word;
    white-space: normal;
}

/* Testimonial */

.testimonial q {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size: 17px; 
    font-weight:300;
}

.testimonial.classic q, .testimonial.classic footer {
    color:#111;
    word-break: keep-all;
    overflow-wrap: break-word;
    white-space: normal;
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size: 40px; 
    font-weight:300;
    color:#111;
}

h2 {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size: 34px; 
    font-weight:300;
    color:#111;
}

h3 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 30px; 
    font-weight:700;
    color:#111;
}

h4 {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size: 18px; 
    font-weight:400;
    color:#111;
}

h5 {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size: 16px; 
    font-weight:400;
    color:#111;
}

h6 {
    font-family: 'Open Sans', 'NanumSquare', sans-serif, Arial, Helvetica ;
    font-size: 14px; 
    font-weight:400;
    color:#111;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Button Text */

.button, input[type="submit"]  {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:14px;
    font-weight:bold;
    color:#111;
}


/* Button Color */

.button, input[type="submit"] {
    border-color:#111;
}


/* Button Hover Color */

.button:hover,  input[type="submit"]:hover {
    border-color:#df575a;
    color:#df575a;
}


/* ----------Banner Buttons---------- */


/* Button Text */

#banner .button {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:16px;
    color:#111;
}


/* Button Color */

#banner .button {
    border-color:#111;
}


/* Button Hover Color */

#banner .button:hover {
    color:#df575a;
    border-color:#df575a;
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight:normal;
    color:#999;
}

/* Footer Icon Color */

#landing-footer i {
    color:#999;
}
#content ul {
    padding-left:20px;
    line-height:24px;
}
#content ul li{
    padding-bottom:6px;
}

/* 커스텀 */

#banner .button.call-to-action{
    font-size:20px;
    background-color:#fff;
}
.button.call-to-action{
    font-size:20px;
}
/* 모바일 대응 */
@media (min-width: 480px) and (max-width: 767px) {
    .section-heading{
        text-align:center;
    }
    .section-heading h2:after{
        display:inline-block;
    }
    #banner .section-heading:before{
        display:inline-block;
    }
    #content{
        text-align:center;
    }
    .testimonial.bigtest{
        text-align:center;
    }
    #img-lama{
        width:50%;
    }
    #banner{
        background:none;
    }
    .banner-for-mobile{
        display:block;
    }

}
@media screen and (max-width: 479px){

    #banner{
        background:none;
    }
    .banner-for-mobile{
        display:block;
    }
    #banner .button.call-to-action{
        height:70px;
    }
    .button.call-to-action{
        height:58px;
    }
}
